*{
	box-sizing: border-box;
}
.container{
	margin-top: 200px;
}
.flex{
	width:400px;
	margin:auto;
	display:flex;
	background:rgb(196, 5, 91);
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	font-weight: bold;
	font-size:20px;
	line-height: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	position:relative;
}
.flex>div{
	margin:10px;
	padding:20px;
	width:100px;
	background:white;
	border-radius: 5px;
}
.flex>div:hover{
	background:rgb(248, 156, 181);
	cursor: pointer;
}
#unique{
	flex-basis: 500px;
	text-align: right;
}
input{
	text-align:right;
	border:none;
	font-weight:bold;
	font-size:25px;
}
#unique:hover{
	background:white;
}
p{
	font-size:7px;
	position:absolute;
	bottom:0;
	right:0;
}
